* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1d2671, #c33764);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: #00ffcc;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00e6b8;
}

ul {
    margin-top: 20px;
    list-style: none;
}

li {
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

li.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}

.remover {
    background: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
